

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:wght@300;700&family=Moo+Lah+Lah&family=Neonderthaw&family=Noto+Sans+TC:wght@500&family=Noto+Serif+TC:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	font-family:  'Merriweather', serif; 
	font-size: 20px;
	line-height: 4.5vh;
	background-color: #5F2BB9;
}

section > div{
	background-color:darkcyan;
	font-size: 25px;
	width: 8vw;
	color: #F999AF; 
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
	opacity:0.9;
	padding: 5px;}

nav > a{
	font-size: 55px;
	font-family: 'Moo Lah Lah', cursive;
	text-decoration: none;
	padding: 0 20px;
	}

nav{
	font-size: 30px;
	padding: 40px 0;
	text-align: center;
}

.rotate:hover{
	 -webkit-transform: rotateZ(-10deg);
     -ms-transform: rotateZ(-10deg);
     transform: rotateZ(-10deg);
}

p{
	font-family: 'Merriweather', serif;;
}

