@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
	width:  100%;
}
body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	color: #00a16; /*字體顏色*/
	font-family: Lora, serif;
	font-size: 2vh;
	line-height: 3vh;
}

h1, h2, h3 {
	font-family: Poppins, sans-serif;
}
h1{
	font-size: 4vh;
	line-height: 6vh;
	margin: 1vh 0;
}
h2{
	font-size: 3vh;
	line-height: 4.5vh;
	margin: 0.8vh 0;
}
h1{
	font-size: 2.4vh;
	line-height: 3.6vh;
	margin: 0.5vh 0;
}
article{
	margin:  1.5vh;
	padding: 1vh 5vw; /* 排版內縮padding let texts gather in the middle instead of spreading all over the whole screen.*/
}

section{
	margin: 1.2vh 0;
}
p{
	margin: 0.2vh 0
}

nav{
	font-family: Poppins, sans-serif;
	font-size: 3vh;
	line-height: 4.5vh;

}

a{
	text-decoration: none;
}